@font-face {
    font-family: 'raleway';
    src: url('../assets/fonts/Raleway-VariableFont_wght.ttf');
}

* {
    font-family: 'raleway';
    font-weight: normal;
    font-size: 20px;
}

body {
    margin: 0;
}